@import url(./reset.css);

/*
theme

#F9F0E3
#1E1E1E
#000000
#EB8585
#CF2E2E


*/

:root{

    --bgcolor: #f9f0e3;
    --clor-text:#1E1E1E;
    --color-title: #000000;
    --bgcolor-footer: #cf2e2e;
    --bgcolor-buttun : #EB8585;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 2rem;

}
header nav ul li{
    padding: 1rem;
    margin-right: 1rem;
    border-radius: .4rem;
    background-color: #f18d8d;
    a{
        display: block;
        width: 100%;
    }
}

img{
    display: none; /* desactiver le display */
}