@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Nova+Oval&family=Outfit:wght@100..900&display=swap');

html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}

body{
    font: 1.6rem 'karla', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100svh;
    background-color: var(--bgcolor);
    line-height: 1.6;
    letter-spacing: .1rem;
}

h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #1e1e1e;
}